* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 30px;
}

nav ul li a:hover {
    background-color: #f05454;
    color: #fff;
    transform: scale(1.1);
}

.hero {
    background-image: url('photo_2024-10-13_01-39-38.jpg');
    background-size: cover;
    background-position: center;
    height: 84vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: relative;
    padding-top: 30px;
    color: white;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem; 
    text-align: center;
    margin: -20px 0 10px 0;
    font-family: 'Dancing Script', cursive;
    color: #f0f0f0;
}

.hero p {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
    color: #ddd;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}

footer p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav ul li {
        padding: 10px 0;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin: -15px 0 5px 0; 
    }

    .hero p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    nav ul li a {
        padding: 8px 15px;
        font-size: 14px;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: #000;
}

.background-image {
    flex: 1;
    background-image: url('damko.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 120px;
    margin-bottom: 40px;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(7, 7, 7, 0.8);
    border-radius: 30px;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
    color: #FFD700;
    margin-bottom: 10px;
}

.title {
    margin: 0;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.title p {
    margin: 10px 0;
}

.hobbies-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-size: 22px;
    text-align: left;
    color: #FFD700;
}

.hobbies-list li {
    position: relative;
    margin: 10px 0;
    padding-left: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.hobbies-list li::before {
    content: '•';
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 30px;
    color: #FFD700;
    line-height: 1;
}

.music-slider {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.slider-title {
    font-size: 28px;
    color: #FFD700;
    margin-bottom: 10px;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-item {
    min-width: 150px;
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fffffd;
    border-radius: 5px;
    text-align: center;
    scroll-snap-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.slider-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
}
.slider-title {
font-size: 36px;
color: #FFD700;
margin-bottom: 20px;
text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
font-weight: bold;
transition: color 0.3s;
}

.slider-title:hover {
color: #fff;
}
.media-slider {
background-color: rgba(0, 0, 0, 0.7);
padding: 40px;
margin: 20px 0;
border-radius: 8px;
text-align: center;
}

.media-title {
font-size: 36px;
color: #FFD700;
margin-bottom: 20px;
text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
font-weight: bold;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-item {
    min-width: 200px;
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fffffd;
    border-radius: 5px;
    text-align: center;
    scroll-snap-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.slider-item img {
    width: 100%;
    border-radius: 5px;
}

.slider-item video {
    width: 100%;
    border-radius: 5px;
}

.slider-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .heading {
        font-size: 32px;
    }

    .title {
        font-size: 18px;
    }

    .hobbies-list {
        font-size: 18px;
    }

    .slider-title {
        font-size: 24px;
    }

    .music-slider, .media-slider {
        padding: 15px;
    }

    .slider-container {
        flex-direction: column;
        align-items: center;
    }

    .slider-item {
        min-width: 100%;
        margin: 10px 0;
    }

    video, img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 28px;
    }

    .title {
        font-size: 16px;
    }

    .hobbies-list {
        font-size: 16px;
    }

    .slider-title {
        font-size: 22px;
    }

    .slider-item {
        min-width: 100%;
        font-size: 14px;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;

    background: linear-gradient(135deg, #fff8f8, #bfc4c9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}


.nav-menu li a:hover {
    background-color: #f04444;
    border-radius: 30px;
}

.family-section {
    padding: 50px 0;
    text-align: center;
    flex: 1;
}

.family-section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
}

/* Centered family layout */
.family-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.family-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.family-member {
    position: relative;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.family-member:hover {
    transform: scale(1.1);
}

.family-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
}

.family-member h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-bottom: 10px;
}

.modal p {
    font-size: 1.2rem;
    color: #333;
}

.close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: #000000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.family-photo {
width: 100%;
height: auto;
max-width: 800px;
border-radius: 8px;
margin: 20px 0;
}
.family-description {
color: white;
font-size: 1.5rem;
font-family: 'Dancing Script', cursive;
text-align: center;
margin-top: 20px;
padding: 10px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.family-container {
display: flex;
flex-direction: column;
align-items: center;
}

.family-row {
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 30px;
}

.family-member {
position: relative;
text-align: center;
margin: 10px;
cursor: pointer;
transition: transform 0.3s ease;
}

.family-member:hover {
transform: scale(1.1);
}

.family-photo {
width: 300px;
height: 300px;
border-radius: 50%;
object-fit: cover;
border: 5px solid #ffffff;
}

.family-member h3 {
margin-top: 10px;
font-size: 1rem;
color: #ffffff;
}
@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

body {
font-family: 'Raleway', sans-serif;

background: linear-gradient(135deg, #000000, #30475e, #1c1c1c, #30475e);
background-size: 400% 400%;
animation: gradient 10s ease infinite;
min-height: 100vh;
display: flex;
flex-direction: column;
}
@media (max-width: 768px) {
.family-photo {
width: 80%;
max-width: 150px;
}
.family-description {
font-size: 1.2rem;
}
.family-quote {
font-size: 1.2rem;
padding: 5px 10px;
}
.nav-menu {
flex-direction: column;
align-items: center;
}
}

@media (max-width: 480px) {
header {
padding: 10px;
}
.family-section h1 {
font-size: 2rem;
}
.family-photo {
width: 90%;
}
.family-member h3 {
font-size: 0.9rem;
}
.modal-content {
width: 90%;
}
}
body {
font-family: 'Raleway', sans-serif;
background: linear-gradient(135deg, #000000, #30475e, #1c1c1c, #30475e);
background-size: 400% 400%;
animation: gradient 10s ease infinite;
min-height: 100vh;
display: flex;
flex-direction: column;
}


@media (max-width: 768px) {
.family-photo {
width: 80%;
max-width: 150px;
}
}

@media (max-width: 480px) {
header {
padding: 10px;
}
.family-section h1 {
font-size: 2rem;
}
.family-photo {
width: 90%;
}
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: #000;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(219, 56, 56, 0.8);
    border-radius: 30px;
}
.education-section {
    padding: 30px 10px;
    flex: 1;
    background-image: url('fonf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: 20px;
    min-height: 600px;
}

.education-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.education-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.education-image {
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.education-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.education-text {
    font-size: 1rem;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    opacity: 0;
}

.education-image:hover .education-text {
    transform: translateY(0);
    opacity: 1;
}

.quote {
    font-size: 1.5rem;
    margin: 30px 0;
    font-style: italic;
    color: #ffd700;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.quote-author {
    display: block;
    font-size: 1.2rem;
    color: white;
    margin-top: 5px;

.education-year {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #fff;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 768px) {
    .education-images {
        flex-direction: column;
        align-items: center;
    }

    .education-image {
        width: 90%;
    }

    .education-section h2 {
        font-size: 2rem;
    }

    .quote {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu li a {
        padding: 5px 10px;
    }

    .quote {
        font-size: 1rem;
    }
}





body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(7, 7, 7, 0.8);
    border-radius: 30px;
}

.contact-section {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

button {
    background-color: #FFD700;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.instagram-icon {
    width: 132px;
    height: 122px;
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
    }

    .contact-section {
        padding: 10px;
    }

    #map {
        height: 300px;
    }
}

@media (max-width: 480px) {
    input, textarea, button {
        font-size: 0.9rem;
    }

    .instagram-icon {
        width: 100px;
        height: 100px;
    }
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000; ъ
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal video {
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(7, 7, 7, 0.8);
    border-radius: 30px;
}

.contact-section {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

button {
    background-color: #FFD700;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}


#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 15px;
    text-align: center;
}

.instagram-icon {
    width: 132px;
    height: 122px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
    }

    .contact-section {
        padding: 10px;
    }

    #map {
        height: 300px;
    }
}

@media (max-width: 480px) {
    input, textarea, button {
        font-size: 0.9rem;
    }

    .instagram-icon {
        width: 100px;
        height: 100px;
    }
}